<style>
  .section-content.change-dr .section-heading {
    display: flex;
    justify-content: end;
    flex-direction: column;
  }
  .section-image {
    width: 50%;
  }
      body[data-page="silica-through-the-ages"] .points-title h2{
      font-family:"Gloock", serif !important;
      color: #1C2E3A;
      }
  body.gradient.custom-TheMostEffectiveFormOfSilica.custom-pro-- .section-image {
    display: flex;
}
  h3.about-us-multi{
      font-family: "Roboto" , sans-serif !important;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.33em;
    text-align: center;
    color: #1C2E3A;
    margin: 0;
    text-transform: uppercase;
}
.about-description-multi p {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.11em;
    text-align: center;
    margin: 0;
    color: #1C2E3A;
    font-family: "Gloock", serif !important;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}
  .section-content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 20px 0;
  }
  .section-heading h4 {
    font-size: 38px;
    font-weight: 400;
    line-height: 44px;
    margin: 0 10px;
    text-align: left;
    text-transform: uppercase;
    font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 4px;
  }
  .section-heading h3 {
    border-left: 2px solid;

}
  .section-description p {
    font-family: "Roboto Light"
    , sans-serif !important;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    text-align: left;
    margin: 10px 10px;
    color: #5C5C5C;
  }
  h3.sec-head {
    font-family: "Roboto"
    , sans-serif !important;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.33em;
    text-align: left;
    margin: 0 10px;
    text-transform: uppercase;
    padding-bottom: 13px;
    border-left: unset;
    font-weight: 300;
  }

  .about-us-content {
    max-width: 690px;
    margin: auto;
    padding-bottom: 1%;
    padding-top: 3%;
  }

  .section-content.change-dr {
    flex-direction: row-reverse;
  }

  .section-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 608px;
    margin: auto;
    width: 50%;
  }

  img.sec-img {
    max-width: 100%;
    height: auto;
  }

  .section-content.change-dr .section-image {
    order: 1;
  }

  .section-content.change-dr .section-text {
    order: 1;
    text-align: end;
  }
@media screen and (max-width:1400px) {
  .section-description p{
    font-size: 16px;
  }
  .section-text {
    gap: 0;
  }
  .section-heading h4{
    font-size: 32px;
  }
  h3.sec-head {
  font-size: 16px;
  line-height: 10px;
  }
  .section-content {
    gap: 10px;
  }
  .section-description p {
    margin: 5px 10px !important;
  }
}
@media screen and (max-width:1100px) {
  .section-image {
    display: flex;
  }
}
  @media screen and (max-width: 863px) {
    .section-content.change-dr {
      display: flex;
      flex-direction: column-reverse;
    }
    .section-description{
      margin-bottom: 20px;
    }
    .section-image {
      width: 100%;
    }
    .section-content {
      display: flex;
      flex-direction: column-reverse;
      gap: 20px;

    }

    .section-text {
      align-items: center;
      max-width: unset !important;
    margin: 0;
    width: 100%;
    }

    .section-description p {
      text-align: start;
      font-size: 21px;
    }

    h3.sec-head {
      font-size: 18px;
      text-align: center;

    }

    .about-us-content {
      padding: 5%;
    }

    h3.about-us {
      font-size: 30px;
    }

    .about-description p {
      font-size: 13px;
    }
    .section-heading h4{
      text-align: start;
    }
  }

  @media screen and (max-width: 450px) {
      .section-description p {
    font-family: "Roboto Light"
    , sans-serif !important;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    text-align: left;
    margin: 10px 10px;
    color: #5C5C5C;
    line-height:26px;
  }
    .section-image {
      padding-bottom: 0;
    }
    h3.sec-head   {
    line-height: 26px;
    letter-spacing: 1px;
    padding-bottom: 0;
    margin: 0;
    margin-top: 10px;
    font-size: 17px;
    letter-spacing: normal;
   }
    body[data-page="silica-through-the-ages"] .section-heading h4{
      font-size: 26px;
    }
    body[data-page="silica-through-the-ages"] .points-title h2{
      font-family:"Gloock", serif !important;
      color: #1C2E3A;
      font-size:28px;
    }
    body[data-page="silica-through-the-ages"] .description-text{
        margin-top:20px;
    }
    .main-sub-container {
    gap: 5px;
}
    body[data-page="silica-through-the-ages"] .main-title h3{
      font-size: 26px;
      letter-spacing: 2px;
    }
    body[data-page="silica-through-the-ages"] .text-year p{
      font-size: 17px;
      color: #1C2E3A;
      letter-spacing: 0;
    }
    body[data-page="silica-through-the-ages"] .description-text p{
      font-size: 17px;
      line-height:27px !important;
    }
    body[data-page="silica-through-the-ages"] .bottom-main-one{
      font-size: 17px;
    }
    body[data-page="silica-through-the-ages"] .bottom-main-two{
      font-size: 26px;
    }
 .bottom-main-two{
      font-size: 26px !important;
    }
.section-content.change-dr .section-heading {
    gap: 0;
}
 .isolate {
    padding-top: 0 !important;
}
    body[data-page="silica-through-the-ages"] .isolate {
    padding-top: 0 !important;
}
    {% for block in section.blocks %}
    .section-heading h4.{{ block.id }} {
      font-size: {{ block.settings.mobile_font_size }}px;
      letter-spacing: {{ block.settings.mobile_letter_spacing }}px;
      font-weight:{{ block.settings.mobile_font_weight }};
      line-height:{{ block.settings.line_height_for_mobile }}px;
      
    }
      
h4.content_p3YV4R {
    font-size: 26px !important;
}
    {% endfor %}
    .section-heading h4 {
      text-align: start;
      margin: 0;
    }
    .section-text {
      gap: 0;
    }
    .section-description p {
      margin:0 !important;
      font-size: 17px !important;
      line-height: 26px;
      margin-top:20px !important;
    }    
  }
  .accordion {
    max-width: 100vw;

  }

  .accordion-item {
    border-top: 1px solid #c5c5c5;
    color: #333;
  }

  .accordion-item h2 {
    margin: 0;
    cursor: pointer;
  }

  .accordion-content {
    max-height: 0;
    /* Set a default max-height, but don't display it */
    overflow: hidden;
    /* Hide the content */
    transition: max-height 0.4s ease-out;
    /* Add a transition effect when sliding down (and up) the content */
  }

  .accordion-content {
    margin: 0;
  }
  .accordion-item {
    border-bottom: 1px solid #c5c5c5;
  }
  /* Add this class to .accordion-content when the accordion item is active/open */
  .accordion-content.active {
    max-height: auto;
    /* Adjust as needed */
  }

  /*adding the + and - signs*/
  .accordion-item h2 {
    position: relative;
    padding-right: 30px;
    /* Adjust as needed */
    margin: 10px 0;
  }

  .accordion-item h2::before {
    content: ">";
    position: absolute;
    right: 10px;
    transform: rotate(90deg);
    top: 0px !important;
    font-size: 20px !important;
    font-weight: 800;
    color: black;
  }
  .accordion-item h2 {
    letter-spacing: 0px !important;
  }
  .accordion-item.active h2::before {
    content: "<";
  }
  h3.line-text-new {
    font-family: "Roboto" , sans-serif !important;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    margin-bottom: 0px;
    margin-left: 8px;
}

.section-content.change-dr .accordion {
    max-width: 100vw !important;
    margin: unset;
}
.section-content.change-dr .accordion-item {
    text-align: start;
    padding-left: 10px;
}
.section-content.change-dr .accordion-item h2:before {
    top: 0px;
}
.accordion-item h2 {
  font-family: "Roboto" , sans-serif !important;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: left;
}
.btn-page-set {
    text-align: start;
    margin-left: 10px;
    margin-top: 20px;
}

button.btn-set-me {
    font-size: 14px;
    padding: 10px 35px;
    background: #1c2e3a;
    border: none;
}

button.btn-set-me a {
    list-style: none;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
h3.sec-step {
  font-size: 18px;
    font-weight: 400 !important;
    margin: 6px 10px;
    font-family: "Roboto" , sans-serif !important;
    letter-spacing: 2px;
    text-align: start;
}
    @media screen and (max-width:796px){
    h3.line-text-new {
    margin: 0;
    text-align: start;
    width: 100%;
}
      .section-text {
    align-items: start;
}
      .section-content{
        margin:20px 0px;
      }

  }
  @media screen and (max-width:500px) {
    .btn-page-set {
    margin-left: 0px;
    margin-top: 10px;
}
body[data-page="types-of-silica"] h3.sec-head {
    margin-bottom: 0 !important;
}
body[data-page="types-of-silica"] .section-description p {
    margin-top: 0 !important;
}
body[data-page="types-of-silica"] .ver-line p {
    font-size: 21px !important;
    font-weight: 300 !important;
    color: #5c5c5c !important;
}
body[data-page="types-of-silica"] .section-description p {
    line-height: 27px !important;
}

    .about-us-main-container{
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .about-description-multi p{
      font-size: 20px;
      text-align: start;
      line-height: 14px;
      letter-spacing: 2px;
    }
.section-heading h4.content_dpL9AA {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 17px;
}
.section-heading h4.content_mPf6cJ {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 17px;
}
.section-heading h4.content_zrRaEe {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 22px;
}
    h3.sec-head{
      text-align: start;
      line-height: 20px;
      margin-top:10px;
      margin-bottom:0px;
    }
    .multicolumn-card__info p {
    line-height: 25px;
    color: #1C2E3A;
}
    .section-description h5 {
    margin: 0;
    padding-top: 7px;
}
    .section-heading {
    text-align: start;
    margin: unset;
    }
    .accordion {
    width: 100%;
    max-width: 100%;
    }
    .section-content{
      margin: 0;
    }
    h3.about-us-multi{
      text-align: start;
      letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 16px;
    }
    .about-us-content{
      padding: 0;
      margin-top: 10px;
    }
    .about-description-multi {
      margin-top: 5px;
    }
      h3.line-text-new {
    margin-bottom: 10px;
}
body.gradient.custom-OUR.HEALTH.EXPERTS.custom-pro-- .section-description p {
    margin: 0 !important;
}
body.gradient.custom-OUR.HEALTH.EXPERTS.custom-pro-- h4.content_yJT7A7 {
    margin: 0;
}
body.gradient.custom-OUR.HEALTH.EXPERTS.custom-pro-- h3.sec-head {
    margin: 0 !important;
}
body.gradient.custom-OUR.HEALTH.EXPERTS.custom-pro-- h3.sec-head {
    margin: 0 !important;
 
}
.section-heading {
    margin-bottom: 5px;
    margin-top: 5px;
    gap: 0px !important;
    display: flex;
    flex-direction: column;
}
.section-content {
    gap: 10px;
}
body.gradient.custom-Choosing.The.Right.Silica.custom-pro-- h3.sec-head {
    font-size: 17px;
    padding-bottom: 5px;
    padding-top: 10px;
}
body.gradient.custom-TheMostEffectiveFormOfSilica.custom-pro-- .about-description-multi {
    padding-bottom: 0px;
}
body.gradient.custom-TheMostEffectiveFormOfSilica.custom-pro-- .about-us-main-container{
margin-bottom: 0;
}
  }
  @media screen and (max-width:336px) {
    .about-description-multi p{
      font-size: 22px;
    }
  }
.accordion-content ul li strong {
      color: #1C2E3A;

  }
  .accordion-content ul li {
      color: #1F1F1F;
      font-size: 16px;
  }
  .accordion-content p a {
      color: #1C2E3A;
      padding-left: 21px;
  }

  @media screen and (min-width: 560px) {
 .about-us-main-container {
    margin: 50px auto;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
}
</style>
<div class="back-color-show" style="{{ section.settings.backcolor }}">
<div class="about-us-main-container page-width">
  {% if section.settings.main_title != blank %}
    <div class="about-us-content">
      <div class="about-heading">
        <h3 class="about-us-multi">{{ section.settings.main_title }}</h3>
      </div>
      <div class="about-description-multi">{{ section.settings.main_paragraph }}</div>
    </div>
  {% endif %}
  {% for block in section.blocks %}
    <div class="section-content {% if block.settings.change_direction %}change-dr{% endif %}">
      {% if block.settings.section_image != blank %}
        <div class="section-image">
          <img loading="lazy" class="sec-img" src="{{ block.settings.section_image | image_url }}">
        </div>
      {% endif %}
      {% if block.settings.section_description != blank %}
      <div class="section-text">
        <div class="section-heading">
          {% if block.settings.step != blank %}
            <h3 class="sec-step">{{ block.settings.step }}</h3>
          {% endif %}
          {% if block.settings.section_heading != blank %}
            <h3 class="sec-head">{{ block.settings.section_heading }}</h3>
          {% endif %}
          {% if block.settings.section_subheading != blank %}
            <h4 class="{{ block.id }}">
              {{ block.settings.section_subheading }}
            </h4>
          {% endif %}
            {% if  block.settings.section_subheadingtwo != blank %}
            <h3 class="line-text-new">
              {{ block.settings.section_subheadingtwo }}
            </h3>
          {% endif %}
        </div>
        {% if block.settings.section_description != blank %}
          <div class="section-description">{{ block.settings.section_description }}</div>
        {% endif %}
        {% if block.settings.accordionone != blank %}
          <div class="accordion">
            <div class="accordion-item">
              <h2>{{ block.settings.accordionone }}</h2>
              <div class="accordion-content">
                {{ block.settings.accordiontwo }}
              </div>
            </div>
          </div>
        {% endif %}
        {% if block.settings.btntext != blank %}
        <div class="btn-page-set">
          <button class="btn-set-me">
            <a href="{{ block.settings.btntexturl}}">
              {{ block.settings.btntext }}
               </a>
          </button>
        </div>
        {% endif %}
      </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
</div>
{% schema %}
  {
    "name": "home image with text move",
    "settings": [
      {
      "type": "color",
      "id": "backcolor",
      "label": "backcolor"
    },
      {
        "type": "text",
        "id": "main_title",
        "label": "Heading"
      }, {
        "type": "richtext",
        "id": "main_paragraph",
        "label": "Paragraph"
      }
    ],
    "blocks": [
      {
        "name": "About us",
        "type": "content",
        "settings": [
          {
            "type": "checkbox",
            "id": "change_direction",
            "label": "Change Image Direction",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "section_image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "step",
            "label": "step"
          },
          {
            "type": "text",
            "id": "section_heading",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "section_subheading",
            "label": "Sub heading"
          },
          {
            "type": "text",
            "id": "section_subheadingtwo",
            "label": "| Bamboo"
          }, {
            "type": "richtext",
            "id": "section_description",
            "label": "Description"
          },
          {
            "type": "text",
            "id": "btntext",
            "label": "Button text"
          },
          {
            "type": "url",
            "id": "btntexturl",
            "label": "Button url"
          },
           {
            "type": "text",
            "id": "accordionone",
            "label": "accordion question"
          }, {
            "type": "richtext",
            "id": "accordiontwo",
            "label": "accordion Answer"
          },
              {
      "type": "select",
      "id": "mobile_font_size",
      "label": "Mobile Font Size",
      "options": [
        {
          "value": "10",
          "label": "Small"
        },
        {
          "value": "16",
          "label": "Medium"
        },
        {
          "value": "26",
          "label": "Large"
        }
      ],
      "default": "16"
    },
    {
      "type": "range",
      "id": "desktop_letter_spacing",
      "label": "Desktop Letter spacing",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 2,
      "unit": "px"
    },
          {
      "type": "range",
      "id": "mobile_letter_spacing",
      "label": "Mobile Letter spacing",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 2,
      "unit": "px"
    },
          {
      "type": "select",
      "id": "mobile_font_weight",
      "label": "Mobile Font weight",
      "options": [
        {
          "value": "100",
          "label": "100"
        },
        {
          "value": "200",
          "label": "200"
        },
        {
          "value": "300",
          "label": "300"
        },
        {
          "value": "400",
          "label": "400"
        },
        {
          "value": "500",
          "label": "500"
        },
        {
          "value": "600",
          "label": "600"
        },
        {
          "value": "700",
          "label": "700"
        },
        {
          "value": "800",
          "label": "800"
        },
        {
          "value": "900",
          "label": "900"
        }
      ],
      "default": "400"
    },
             {
      "type": "range",
      "id": "line_height_for_mobile",
      "label": "Line height for mobile",
      "min": 1,
      "max": 45,
      "step": 1,
      "default": 32,
      "unit": "px"
    }
        ]
      }
    ],
    "presets": [
      {
        "name": "Super image with text move"
      }
    ]
  }
{% endschema %}