<style>
  .reference-up .page-width h2 {
    font-size: 48px;
    color: #1C2E3A;
    text-align: center;
    font-family: "Gloock", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 50px;
}

.reference-up .page-width h3 {
    font-size: 24px;
    color: #1C2E3A;
    font-family: "Roboto", sans-serif !important;
}

.ref-text p {
    margin: 0;
    font-size: 16px;
    color: #1C2E3A;
    font-family: "Roboto", sans-serif !important;
}

.refe-context {
  display: flex;
   margin-bottom: 30px;
  justify-content: space-between;
}

.ref-text {
    width: 100%;
    max-width: 70%;
}

.ref-text-link {
    width: 100%;
    max-width: 20%;
    display: flex;
}

.ref-text-link svg {
    width: 32px;
    display: flex;
    margin: auto;
    margin-top: 0;
    margin-left: 10px;
    height: fit-content;
}

.ref-text-link a {
    margin: 0;
}

.ref-text-link a {
    font-size: 18px;
    font-weight: bold;
    color: #1C2E3A;
    text-decoration: none;
}

.reference-up {
    padding: 50px 0;
}
  a.te-bt-url {
    font-size: 14px;
    font-family: sans-serif;
    color: #606060;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

    @media only screen and (max-width: 850px){
        .refe-context {
    flex-direction: column;
}

.ref-text-link {
    max-width: 100%;
    margin-top: 20px;
}

.ref-text {
    max-width: 100%;
}
    }
@media screen and (max-width:500px) {
  .refe-context{
  margin-bottom: 10px;
}
}
</style>


<div class="reference-up">
  <div class="page-width">
    <h2>{{ section.settings.head }}</h2>
    <h3>{{ section.settings.sub_head }}</h3>
    <div class="reference-main">
      {%- for block in section.blocks -%}
        <div class="refe-context">
          <div class="ref-text">
            {{ block.settings.rich }}
          </div>
          <div class="ref-text-link">
            <a href={{ block.settings.url }}>{{ block.settings.link_text }}</a>
            <svg fill="#000000" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M16 0c-8.836 0-16 7.163-16 16s7.163 16 16 16c8.837 0 16-7.163 16-16s-7.163-16-16-16zM16 30.032c-7.72 0-14-6.312-14-14.032s6.28-14 14-14 14 6.28 14 14-6.28 14.032-14 14.032zM16.637 9.957c-0.39 0.39-0.39 1.024 0 1.414l3.617 3.617h-11.264c-0.553 0-1 0.448-1 1s0.447 1 1 1h11.327l-3.68 3.68c-0.39 0.39-0.39 1.023 0 1.414 0.195 0.195 0.451 0.293 0.707 0.293s0.512-0.098 0.707-0.293l5.907-6.063-5.907-6.063c-0.391-0.39-1.023-0.39-1.415 0z"></path> </g></svg>
          </div>
        </div>
      {%- endfor -%}
    </div>
    <a class="te-bt-url" href={{ section.settings.bt_url }}>{{ section.settings.t_url }}</a>
  </div>
</div>


{% schema %}
{
"name": "Supeer home Reference",
"settings": [
          {
            "type": "text",
            "id": "head",
            "label": "Heading",
            "default": "REFERENCE"
          },
          {
            "type": "text",
            "id": "sub_head",
            "label": "Sub Heading",
            "default": "Clinical Studies:"
          },
            {
            "type": "text",
            "id": "t_url",
            "label": "Bottom Link Text",
            "default": "View All References"
          },
          {
            "type": "url",
            "id": "bt_url",
            "label": "Link"
          }
],
   "blocks": [
    {
      "name": "Block",
      "type": "block",
      "settings": [
        {
            "type": "richtext",
            "id": "rich",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Link Text"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Link"
          }
      ]
    }
  ],
"presets": [
{
"name": "Supeer home Reference",
"category": "Reference"
}
]
}
{% endschema %}